.main {
  article {
    &:nth-child(6) {
      background-color: #efe0c9;
      position: relative;
      display: flex;
      flex-direction: column;

      h4 {
        order: 2;
        margin-top: 1em;
        margin-bottom: 0;
      }
      h2 {
        order: 3;
        width: 80%;
      }
      p:first-of-type {
        order: 4;
        margin-bottom: 110%;
      }
      div:first-of-type {
        order: 1;
        position: absolute;
        width: clamp(175px,35%, 300px);
        top: 0%;
        right: -10%;
        z-index: 100;
        transform: rotate(-15deg);
      }
      div:nth-of-type(6) {
        order: 5;
        position: absolute;
        top: 43%;
        left: -7%;
        z-index: 100;
        width: clamp(225px, 40%, 375px);
        transform: rotate(-25deg);
      }
      div:nth-of-type(3) {
        order: 6;
        position: absolute;
        top: 48%;
        right: -10%;
        z-index: 101;
        width: clamp(225px, 40%, 375px);
        transform: rotate(25deg);
      }
      div:nth-of-type(5) {
        order: 7;
        position: absolute;
        top: 53%;
        left: -10%;
        z-index: 101;
        width: clamp(225px, 40%, 375px);
        transform: rotate(10deg);
      }
      div:nth-of-type(4) {
        order: 8;
        position: absolute;
        top: 55%;
        right: -10%;
        z-index: 102;
        width: clamp(225px, 40%, 375px);
        transform: rotate(-10deg);
      }
      div:nth-of-type(2) {
        order: 9;
        position: absolute;
        top: 50%;
        right: 50%;
        z-index: 103;
        width: clamp(225px, 40%, 375px);
        transform: rotate(-10deg) translateX(50%);
      }
      p:last-of-type {
        order: 10;
        margin-bottom: 134px;
      }
    }
  }
}
