.main {
<<<<<<< HEAD
  article {
    &:nth-of-type(1) {
      background-color: #fffdfa;
      h4 {
        &::before {
          display: none;
        }
      }
    }
  }
}
=======
    article {
      &:nth-child(2) {
        background-color: #fffdfa;
      }
    }
}
>>>>>>> 6294265fcb1cfffb917fa70287641f7915671430
