.main {
  article {
    &:nth-child(3) {
      background-color: #ccb797;
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      h4 {
        order: 1;
      }
      h2 {
        order: 2;
      }
      p {
        &:nth-of-type(1) {
          order: 4;
          margin-bottom: 50px;
        }
        &:nth-of-type(2) {
          order: 9;
          margin-bottom: 134px;
          margin-top: 50px;
        }
      }
      div {
        &:nth-of-type(1) {
          order: 3;
        }
        &:nth-of-type(2) {
          position: absolute;
          bottom: 17.5%;
          left: 10%;
          z-index: 2;
          transform: rotate(8deg);
          width: clamp(300px, 40%, 400px);
          order: 6;
        }
        &:nth-of-type(3) {
          z-index: 1;
          position: relative;
          top: -50%;
          left: 50%;
          transform: translate(-50%, -25%) rotate(3deg);
          width: clamp(500px, 40%, 600px);
          order: 5;
        }
        &:nth-of-type(4) {
          position: absolute;
          bottom: 25%;
          left: -20%;
          z-index: 3;
          transform: rotate(-8deg);
          width: clamp(250px, 40%, 375px);
          order: 7;
        }
        &:nth-of-type(5) {
          position: absolute;
          bottom: 27.5%;
          right: -10%;
          z-index: 3;
          transform: rotate(-3deg);
          width: clamp(230px, 40%, 375px);
          order: 8;
        }
      }
      &::before {
        content: '';
        position: absolute;
        top: -57vh;
        left: 0;
        background-image: url(../../../public/images/paper-effects/paper-returnees-top.svg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -50vh;
        left: 0;
        background-image: url(../../../public/images/paper-effects/paper-returnees-bottom.svg);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        z-index: -1;
      }
    }
  }
}
