<!-- <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
            .then(registration => {
                return registration.update();
            })
    }
</script> -->
</body>
</html>