.header {
  background-color: #ffffff;
  position: relative;
  padding-top: 18rem;
  padding-bottom: 18rem;
  z-index: 3;
  background-image: url(../../public/images/home/map-of-lagos.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  &::after {
    content: '';
    position: absolute;
    bottom: -25rem;
    left: 0;
    background-image: url(../../public/images/paper-effects/paper-header.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }
  h1 {
    text-align: center;
    font-size: clamp(2rem, 4vw, 8rem);
    width: 80%;
    margin: auto 10%;
    animation: blur 2.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .image {
    animation: inView 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    &:nth-child(1) {
      position: absolute;
      z-index: 2;
      transform: rotate(-4deg);
      top: -8%;
      left: 10%;
      width: clamp(225px, 40%, 375px);
      filter: drop-shadow(-2.40083px 1.92066px 3.36116px rgba(0, 0, 0, 0.25));
    }
    &:nth-child(2) {
      position: absolute;
      z-index: 1;
      transform: rotate(-10deg);
      top: 1%;
      left: -20%;
      width: clamp(225px, 40%, 375px);
      filter: drop-shadow(-2.40083px 1.92066px 3.36116px rgba(0, 0, 0, 0.25));
    }
    &:nth-child(3) {
      position: absolute;
      z-index: 1;
      transform: rotate(-4deg);
      bottom: 2%;
      right: 10%;
      width: clamp(225px, 40%, 375px);
      filter: drop-shadow(-2.40083px 1.92066px 3.36116px rgba(0, 0, 0, 0.25));
    }
    &:nth-child(4) {
      position: absolute;
      z-index: 2;
      transform: rotate(10deg);
      bottom: -8%;
      right: -20%;
      width: clamp(225px, 40%, 375px);
      filter: drop-shadow(-2.40083px 1.92066px 3.36116px rgba(0, 0, 0, 0.25));
    }
  }
}

@keyframes inView {
  0% {
    transform: scale(0.1) translateY(30%) rotate(-10deg);
  }
  100% {
    transform: scale(1) translate(inherit) rotate(inherit);
  }
}

@keyframes blur {
  0% {
    filter: blur(100px);
  }
  100% {
    filter: blur(inherit);
  }
}
