<%- include('./partials/head') %>

<body class="bar-page">
    <a href="index.html" class="back">
      <img src="img/arrow.svg" alt="back arrow" />
    </a>
    <h1>ILOJO BAR</h1>
    <main>
      <!-- <p>Click on the Bar man to hear the stories of the Ilojo Bar.</p> -->
      <section class="bar-area">
        <div id="scene">
          <div data-depth="-0.25">
            <img
              src="img/lamps.svg"
              alt="Lamps on top of the bar"
              class="lamps"
            />
          </div>
          <div data-depth="-0.05">
            <img src="img/Union.svg" alt="text bubble" class="bubble" />
          </div>

          <a href="#">
            <img src="img/barman.svg" alt="Barman" class="man" />
          </a>

          <div data-depth="0.15">
            <img src="img/bar.svg" alt="Bar with drinks" class="bar" />
          </div>
          <div data-depth="0.25">
            <img src="img/stools.svg" alt="Stools to sit on" class="stools" />
          </div>
        </div>
      </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

<%- include('./partials/foot') %>