<%- include('./partials/head') %>

<body class="home-page">
<main>
  <section class="ilojo-area">
    <img src="img/ilojoenvirpng.png" alt="environment png" />
    <a href="bar.html">
      <img src="img/ilojobarfallback.png" alt="2d view of building" />
    </a>
  </section>
  <section class="welcome-sign">
    <div class="sign">
      <h1>WELCOME TO</h1>
      <h2>ILOJO BAR</h2>
      <h3>EXPERIENCE THE STORIES</h3>
      <p>Tinubu Square, Lagos</p>
    </div>
    <img src="img/poles-sign.svg" alt="poles" />
    <!-- <img src="img/street-section.png" alt="street" /> -->
  </section>
</main>
<script src="js/script.js"></script>
<script type="module" src="js/three.js"></script>

<%- include('./partials/foot') %>