<%- include('partials/header.ejs') %>
    <img src="/images/pogin5video.gif" alt="Ilojo bar" width="90%">
    <p>Ilojo bar</p>
    <a href="/timeline">Go down in history</a>
</main>
<%- include('partials/foot.ejs') %>


