<%- include('./partials/head') %>

<body class="home-page">
<main>
  <section class="ilojo-area">
    <img src="img/ilojoenvirpng.png" srcset="img/ilojoenvirpng.webp" alt="ilojo bar street" />
    <a href="/bar">
      <img src="img/ilojobarfallback.png" srcset="img/ilojobarfallback.webp" alt="2d view of building" />
    </a>
  </section>
  <section class="welcome-sign">
    <div class="sign">
      <h1><span>WELCOME TO</span><span>ILOJO BAR</span></h1>
      <p>EXPERIENCE THE STORIES</p>
      <address>Tinubu Square, Lagos</address>
    </div>
    <img src="img/poles-sign.png" srcset="img/poles-sign.webp" alt="poles" />
  </section>
</main>

<%- include('./partials/foot') %>