<%- include('./partials/head') %>

<body class="home-page">
<main>
  <section class="ilojo-area">
    <img src="img/ilojoenvirpng.png" alt="environment png" />
    <a href="/bar">
      <img src="img/ilojobarfallback.png" alt="2d view of building" />
    </a>
  </section>
  <section class="welcome-sign">
    <div class="sign">
      <h1><span>WELCOME TO</span><span>ILOJO BAR</span></h1>
      <p>EXPERIENCE THE STORIES</p>
      <address>Tinubu Square, Lagos</address>
    </div>
    <img src="img/poles-sign.svg" alt="poles" />
    <!-- <img src="img/street-section.png" alt="street" /> -->
  </section>
</main>
<script src="js/script.js"></script>
<script type="module" src="js/three.js"></script>

<%- include('./partials/foot') %>