<%- include('./partials/head') %>
<body class="home-page">
<main>
    <h1>ILOJO BAR</h1>
    <a class="ilojobar" href="bar.html">
        <img src="img/ilojobarfallback.png" alt="Fallback for the Ilojo Bar" class="ilojo" />
    </a>
    <section class="three-module"></section>
    <h2>Switch to view in 3D</h2>
    <label class="switch">
        <input type="checkbox" />
        <span class="slider round"></span>
    </label>
</main> 
<script src="js/script.js"></script>
<script type="module" src="js/three.js"></script>
<%- include('./partials/foot') %>