<%- include('partials/header.ejs') %>



<div>
    <img src="/images/1.png" alt="Ilojo bar">
    <img src="/images/2.png" alt="Ilojo bar">
    <img src="/images/3.png" alt="Ilojo bar">
    <img src="/images/4.png" alt="Ilojo bar">
    <img src="/images/5.png" alt="Ilojo bar">
    <img src="/images/puin2.png" alt="Ilojo bar">

</div>



</main>

<%- include('partials/foot.ejs') %>