<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.typekit.net/rwq3pkk.css">
    <link rel="stylesheet" href="/styles/offline.css">

    <title>Offline</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>You are offline</h1>
        <p>
            Oops, something went wrong... Please connect to the internet and try again. 
        </p>
        <a href="/">Try again</a>
    </main>
    <footer>

    </footer>
</body>
</html>