<%- include('partials/header.ejs') %>

   <h2>Send story</h2>

   <p>On this page you can send your own memories about the Ilojo bar. </p>

   <form action="POST">
       <input type="text" placeholder="Name">
       <input type="email" name="Name" id="" placeholder="email@email.com">
        <textarea name="Story" id="Story"  rows="10" placeholder="Type your story here..."></textarea>
        <input type="file" name="File" id="" >
   </form>
    
</main>
<%- include('partials/foot.ejs') %>