<%- include('partials/header.ejs') %>

   <a href="/timeline">< Back</a>
   <h2>Send story</h2>

   <p>On this page you can send your own memories about the Ilojo bar. </p>

   <form method="POST">
      <input type="text" name="name" id="name" placeholder="Name" required>
      <input type="email" name="mail" id="mail" placeholder="email@email.com" required>
       
      <input type="text" name="title" id="title" placeholder="Give your story a title" required>
      <textarea name="story" id="Story"  rows="10" placeholder="Type your story here..." required></textarea>
      <input type="file" name="File" id="file">

      <input type="submit" value="Send story">
   </form>
    
</main>
<script type="module" src="/scripts/sendStory.js"></script>
<%- include('partials/foot.ejs') %>