<%- include('partials/header.ejs') %>

   
<section>

   <p>You can write your own memories about the Ilojo bar in this book! </p>

   <form action="POST">
       <input type="text" placeholder="Name">
       <input type="email" name="Name" id="" placeholder="email@email.com">
        <textarea name="Story" id="Story"  rows="8" placeholder="Type your story here..."></textarea>
        <input type="file" name="File" id="" >
   </form>
</section>

   <img src="../images/boek.png" alt="boek">
    
</main>
<%- include('partials/foot.ejs') %>