<body class="story">
    <main>
        <ul>
            <% stories.forEach(story => { %> 
                <% let storyTitle = story.title.split(' ').join('_').toLowerCase() %>           
                <li><a href="/<%= storyTitle %>"><%- story.title %></a></li>
            <% }) %>
        </ul>
    </main>