<%- include('partials/header.ejs') %>
    
    <a href="/story">< Back</a>
    <h1><%- ctx.prismicH.asText(storyData.title) %></h1>
    <%- ctx.prismicH.asHTML(storyData.text) %>

<%- include('partials/foot.ejs') %>