* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Baloo";
  src: url(css/BalooBhai-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Baloo";
  src: url(fonts/BalooBhai2-Medium.ttf);
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Baloo";
  src: url(fonts/BalooBhai2-SemiBold.ttf);
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Baloo";
  src: url(fonts/BalooBhai2-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Baloo";
  src: url(fonts/BalooBhai2-ExtraBold.ttf);
  font-weight: 800;
  font-display: swap;
}

body {
  font-family: Baloo;
  width: 100vw;
  height: 100vh;
}


/* ========== HOME PAGE ========== */

.home-page {
  background: radial-gradient(50% 50% at 50% 50%, #efcab0 0%, #b47759 100%);
  overflow: hidden;
  display: flex;
  align-items: end;
}

.home-page main section:first-child {
  position: relative;
  margin-bottom: -1rem;
  width: 100vw;
}

.home-page main section:first-child > img {
  width: 100%;
  z-index: 2;
  position: relative;
  pointer-events: none;
}

.home-page main section:first-child a img {
  width: 100%;
}

a {
  position: absolute;
  top: 28%;
  left: 32%;
  z-index: 1;
  width: 60%;
}

/* Sign */

.sign {
  background-color: #c3b234;
  position: relative;
  border: solid 10px #eeeded;
  border-radius: 3px;
  margin: 0 auto;
  width: 80%;
  height: 60%;
  margin-top: -6em;
  z-index: 2;
  box-shadow: 7px 14px 17px #2d220970;
}

main section:nth-child(2) {
  background-image: url(img/street-background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.home-page h1 {
  font-size: 40px;
}

.home-page h1 span, .home-page .sign p, .home-page address {
  display: block;
  text-align: center;
}

.home-page h1 span:first-child {
  padding: .5rem;
}

.home-page h1 span:last-child, .home-page .sign p {
  background-color: #2d2209;
  color: #c5c4c3;
}

.home-page .sign p {
  font-size: 22px;
  font-weight: 600;
  margin-top: -.1rem;
}

.home-page address {
  font-style: normal;
  font-size: 25px;
  margin: 1rem;
  line-height: 1;
}

main section:nth-child(2) img:first-of-type {
  width: 70%;
}


/* ========== BAR PAGE ========== */


.bar-page {
  background: url(img/bar-background.png);
  background-size: cover;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.bar-page h1 {
  font-size: 12vmin;
  -webkit-text-stroke: 1px #f2f0bd;
  color: transparent;
  text-align: center;
  margin-top: -1.65em;
  /* border: 4px solid #f2f0bd; */
}

.back {
  position: absolute;
  top: 0;
  left: 10px;
  /* width: 10vw; */
}

.bar-page header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.back img {
  width: 10vmin;
}

.wood-sign {
  width: 85vmin;
  margin: 0 auto;
}

/* Bar area  */

.bar-area {
  height: 100vh;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.bar-area ul li:first-child img {
  width: 100vw;
  margin-top: -10em;
  z-index: -1;
}

.bar-area ul li:nth-child(2) img {
  width: 20vw;
  margin-right: 8em;
  margin-top: -12em;
}

.bar-area ul li:nth-child(3) img {
  width: 40vw;
  margin-top: -15em;
}

.bar-area ul li:nth-child(4) img {
  width: 96vw;
  margin-top: -7em;
}

.bar-area ul li:last-child img {
  width: 75vw;
  margin-top: -12em;
}

.hands {
  position: absolute;
  width: 100vmin;
}

/* Stories menu */

.menu {
  width: 40vmin;
  height: 200px;
  position: absolute;
  bottom: 50;
  right: 0;
  background-color: #EBE2C2;
  border-radius: 21px;
  display: grid; 
  padding: 1em;
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  grid-template-areas: 'titel-1 titel-2' "titel-3 titel-4" "titel-5 titel-6" "titel-7 titel-8" "titel-9 titel-9";
  list-style: none;
}

.menu li {
  width: 10vmin;
  background-color: #FFFCDE;
  border-radius: 10px;
  text-align: center;
}

.menu a {
  color: #2d2209;
  text-decoration: none;
}

.titel-1 { grid-area: titel-1; }
.titel-2 { grid-area: titel-2; }
.titel-3 { grid-area: titel-3; }
.titel-4 { grid-area: titel-4; }
.titel-5 { grid-area: titel-5; }
.titel-6 { grid-area: titel-6; }
.titel-7 { grid-area: titel-7; }
.titel-8 { grid-area: titel-8; }
.titel-9 { grid-area: titel-9; }


/* ========== STORY PAGE ========== */


.story-page {
  background: radial-gradient(50% 50% at 50% 50%, #efcab0 0%, #b47759 100%);
  width: 100%;
  height: 100%;
}

.story-page header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.story-page .wood-sign {
  width: 95vmin;
  margin: 0 auto;
}

.story-page main {
  padding: 1rem;
}

.story-page h1 {
  font-size: 6vmin;
  color: #f2f0bd;
  text-align: center;
  margin-top: -2.8em;
  width: 85vmin;
  white-space: wrap;
  line-height: 1.2rem;
}

.story-page p {
  margin-bottom: 1rem;
}
