* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Baloo";
  src: url(css/BalooBhai-Regular.ttf);
  font-display: swap;
}

.home-page {
  background: radial-gradient(50% 50% at 50% 50%, #efcab0 0%, #b47759 100%);
  width: 100%;
  height: 100%;
}

main {
  font-family: Baloo;
}

main section:first-child {
  position: relative;
  width: 100vw;
}

main section:first-child img:first-child {
  width: 100%;
  z-index: 2;
  height: auto;
  position: relative;
  pointer-events: none;
}

main section:first-child img:last-child {
  width: 100%;
  height: auto;
}

a {
  position: absolute;
  top: 28%;
  left: 32%;
  z-index: 1;
  width: 60%;
}

.sign {
  background-color: #c3b234;
  position: relative;
  border: solid 10px #eeeded;
  border-radius: 3px;
  margin: 0 auto;
  width: 80%;
  height: 60%;
  margin-top: -6em;
  z-index: 2;
  box-shadow: 7px 14px 17px #2d220970;
}

main section:nth-child(2) {
  background-image: url(img/street-background.png);
  background-size: cover;
  /* z-index: 999; */
}

h1,
h2,
h3,
main section:nth-child(2) p {
  text-align: center;
  font-weight: 100;
}

h1,
h2 {
  font-size: 40px;
}

h1 {
  margin: 0.3em 0 0.3em 0;
}

h2,
h3 {
  background-color: #2d2209;
  color: #c5c4c3;
}

h3 {
  font-size: 25px;
  letter-spacing: 1px;
  margin-top: -0.5em;
}

main section:nth-child(2) p {
  font-size: 25px;
  font-weight: 100;
  margin: 1em 0 1em 0;
}

main section:nth-child(2) img:first-of-type {
  width: 70%;
  margin: 0;
  margin-left: 15%;
}
