*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EFE8E0;
}
 header, footer{
    height: 7.5vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header nav{
    position: absolute;
    top: 0;
    left: 0;
}

h1, h2, h3{
    font-family: scotch-display, sans-serif;
    font-weight: 900;
    font-style: normal;
}

p, button, a, input, textarea{
    font-family: scotch-display, sans-serif;
    font-weight: 700;
    font-style: normal;
}