@import url(general.css);

main{
    width: 100vw;
    padding: 1em;
}

main h1{
    margin: 0.5em 0 1em 0;
}

main p + p{
    margin-top: 1em;
}

main > a{
    color: var(--brown-color);
    text-decoration: none;
}