@import url(general.css);

main{
    width: 100vw;
    padding: 1em;
}

main h1{
    margin: 0.5em 0 1em 0;
}

main p + p{
    margin-top: 1em;
}

main > a{
    color: var(--brown-color);
    text-decoration: none;
}


main p, main img {
    opacity: 0;
    transform:scale(0.75) rotate(-10deg);
    transition:2s.1s;
    transform-origin:0 0;
  }

  p.observed, img.observed {
    opacity: 1;
    transform:scale(1) rotate(0);
  }

  
  
