@import url(general.css);

main{
    width: 100vw;
    height: 92.5vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > a{
    color: var(--beige-color);
    background-color: var(--brown-color);
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0.5em;
    margin-top: 1em;
}



