@import url(general.css);

main{
    position: relative;
    overflow-x: scroll;
}

main > a{
    display: block;
    position: fixed;
    bottom: 1em;
    left: 1em;

    color: var(--beige-color);
    background-color: var(--brown-color);
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0.5em;
}

main ul{
    width: 100%;
    height: 85%;
    display: grid;   
    grid-auto-flow: column;
    align-items: center;
}

main ul li{
    width: 70vw;
    max-width: 350px;
    display: block;
    margin: 0 2em;
}

main ul li div{
    width: 100%;
    position: relative;
}

main ul li:not(:last-child) div::before{
    content: ' ';
    background-image: url(../images/hanger.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 30px;
    position: absolute;
    left: calc(50% - 35px);
    top: -30px;
}

main ul li div img{
    width: 100%;
    object-fit: contain;
    border: 0.4em solid var(--brown-color);
    box-shadow: 2px 2px 10px var(--brown-color);
}

main ul li:nth-of-type(1n){
    transform: rotate(1deg);
}

main ul li:nth-of-type(2n){
    transform: rotate(-2deg);
}

main ul li:nth-of-type(3n){
    transform: rotate(-1deg);
}

main ul li:nth-of-type(5n){
    transform: rotate(2deg);
}

main ul li:nth-of-type(7n){
    transform: rotate(-3deg);
}

/* book */
main > ul li:last-of-type{
    height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: rotate(0);

    align-self: end;
    margin-bottom: -15%;
    overflow: hidden;
}

main ul li:last-of-type a{
    display: block;
}

main ul li:last-of-type img{
    height: 50%;
    object-fit: contain;
    border: none;

    box-shadow: none;
}

main ul li:last-of-type img:first-of-type{
    height: 25%;
    -webkit-filter: drop-shadow(2px 2px 5px var(--brown-color));
}

main ul li:last-of-type div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main ul li:last-of-type div a:nth-of-type(2){
    display: block;
    text-decoration: none;
    transform: rotate(90deg);
    text-align: right;
    width: 10px;
    height: auto;
    font-size: 2em;
    animation: move 2s infinite;
}

@keyframes move{
    0%{
        transform: translateY(0) rotate(90deg);
    }
    50%{
        transform: translateY(0.5em) rotate(90deg);
    }
    100%{
        transform: translateY(0) rotate(90deg);
    }
}

/* floor */
main > div:first-of-type{
    width: 100%;
    height: 15%;
    position: fixed;
    left: 0; bottom: 0;
    background-color: var(--dark-beige-color);
    z-index: -1;
}

main a{
    font-size: 1.2em;
}