@font-face {
  font-family: Helvetica-Bold;
  src: url(../public/fonts/HelveticaNeueLTCom-Bd.woff), url(../public/fonts/HelveticaNeueLTCom-Bd.woff2);
}

@font-face {
  font-family: Helvetica-Bold-Italic;
  src: url(../public/fonts/HelveticaNeueLTCom-BdIt.woff), url(../public/fonts/HelveticaNeueLTCom-BdIt.woff2);
}

@font-face {
  font-family: Helvetica-Regular;
  src: url(../public/fonts/HelveticaNeueLTCom-Roman.woff), url(../public/fonts/HelveticaNeueLTCom-Roman.woff2);
}

@font-face {
  font-family: Roxborough;
  src: url(../public/fonts/RoxboroughCF-Light.woff), url(../public/fonts/RoxboroughCF-Light.woff2);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  font-size: clamp(2.2rem, 3vw, 6rem);
  font-family: Helvetica-Bold-Italic;
  text-transform: uppercase;
  color: #333333;

  span {
    font-family: Roxborough;
  }
}

h4 {
  font-size: clamp(1.2rem, 2vw, 4rem);
  font-family: Helvetica-Bold;
  color: #333333;
}

p {
  font-size: clamp(0.8rem, 1vw, 2rem);
  font-family: Helvetica-Regular;
  color: #333333;
}

.paper-rip {
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: 0;
}

header, main article, footer {
  padding: 0 5.6%;
  width: 100%;
}

main section:first-of-type, main section:nth-of-type(2) {
  background-color: #F2F0EC;
}

.border span { 
  -webkit-box-shadow: 0px 0px 0px 5px #FFFFFF, 0px 0px 0px 6px #E0E0E0, 0px 0px 0px 11px #FFFFFF; 
  box-shadow: 0px 0px 0px 5px #FFFFFF, 0px 0px 0px 6px #E0E0E0, 0px 0px 0px 11px #FFFFFF;
}


// Pak van hieronder
main section:nth-of-type(10) {
  background-color: #FFFDFA;  
}

footer {
  // Footer heeft twee achtergrond kleuren. Moeten nog ff kijken hoe we dat doen. #898266
  background-color: #342E20;
}
