@font-face {
  font-family: Helvetica-Bold;
  src: url(../public/fonts/HelveticaNeueLTCom-Bd.woff),
    url(../public/fonts/HelveticaNeueLTCom-Bd.woff2);
}

@font-face {
  font-family: Helvetica-Bold-Italic;
  src: url(../public/fonts/HelveticaNeueLTCom-BdIt.woff),
    url(../public/fonts/HelveticaNeueLTCom-BdIt.woff2);
}

@font-face {
  font-family: Helvetica-Regular;
  src: url(../public/fonts/HelveticaNeueLTCom-Roman.woff),
    url(../public/fonts/HelveticaNeueLTCom-Roman.woff2);
}

@font-face {
  font-family: Roxborough;
  src: url(../public/fonts/RoxboroughCF-Light.woff),
    url(../public/fonts/RoxboroughCF-Light.woff2);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.article-img.inview {
  animation: inView 3s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
h2.inview,
h4.inview {
  animation: blur;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2.inview {
  animation-duration: 3s;
}
h4.inview {
  animation-duration: 2s;
}

@keyframes inView {
  0% {
    transform: scale(0.5) translate(40%, 10%) rotate(-10deg);
  }
  100% {
    transform: scale(1) translate(inherit) rotate(inherit);
  }
}

@keyframes blur {
  0% {
    filter: blur(10px);
    transform: translateY(20%);
  }
  100% {
    filter: blur(inherit);
    transform: translateY(0%);
  }
}

h1,
h2 {
  font-size: clamp(1.65rem, 3vw, 6rem);
  font-family: Helvetica-Bold-Italic;
  text-transform: uppercase;
  color: #333333;

  span {
    font-family: Roxborough;
  }
}

.grain::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.04;
  z-index: 100;
  pointer-events: none;
  background-image: url('../public/images/home/grain.gif');
}

.grain::after {
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  mix-blend-mode: darken;
  background-color: #2f2f2f;
  opacity: 0.03;
}

h4 {
  font-size: clamp(1.2rem, 2vw, 4rem);
  font-family: Helvetica-Bold;
  color: #333333;
  margin: 0;
}

p {
  font-size: clamp(0.8rem, 1vw, 2rem);
  font-family: Helvetica-Regular;
  font-size: 1em;
  line-height: 1.6em;
  color: #333333;
}

header,
main article,
footer {
  padding: 0 5.6%;
  width: 100%;
}

main article:not(article:nth-child(2), article:nth-child(5)) {
  padding-top: 134px;
}

// Border voor polaroid images
.border {
  -webkit-box-shadow: 0px 0px 0px 5px #ffffff, 0px 0px 0px 6px #e0e0e0,
    0px 0px 0px 11px #ffffff;
  box-shadow: 0px 0px 0px 5px #ffffff, 0px 0px 0px 6px #e0e0e0,
    0px 0px 0px 11px #ffffff;
}

h4::before {
  content: '';
  display: inline-block;
  width: 7.5px;
  height: 7.5px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #2f2f2f;
  transform: translateY(-3px);
}

.karaoke {
  display: inline-block;
  opacity: 0;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.read {
  opacity: 1;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
